In [1]:
#Write a Python script to check whether a given key already exists in a dictionary.
my_dict={1: "a", 2: "b", 3: "c"}
key=int(input("Input a key: "))
"""
for i in my_dict.keys():
    if key in my_dict:
        print("Yes, it exists")
        break 
    print("No, it does not exist")
"""

if key in my_dict.keys():
    print("Yes, it exists")
else:
    print("No, it does not exist")

print("Yes, it exists" if key in my_dict.keys() else "No, it does not exist")

Input a key:  5

No, it does not exist
No, it does not exist

In [2]:
#Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included)

def create_list(val_1, val_2):
    mylist=[]
    for i in range(val_1,val_2+1):
        mylist.append(i**2)
    return mylist

val_1=int(input("Enter first number:"))
val_2=int(input("Enter second number:"))
print(create_list(val_1, val_2))

Enter first number: 1
Enter second number: 2

[1, 4]

In [3]:
def func(name, age):
    print(name, age)

func(age=23, "emma")

SyntaxError: positional argument follows keyword argument (3510245136.py, line 4)

In [ ]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

In [ ]:
def fun1(name, age=20):
    print(name, age)

fun1('Emma', 25)

In [ ]:
def display_person(*args):
    for i in args:
        print(i)

display_person(name="Emma", age="25")

In [ ]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

In [ ]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

In [ ]:
def add(a, b):
    return a+5, b+5

result = add(3, 2)
print(result)

In [ ]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

In [ ]:
x = 0
while x < 10:
    x = x + 1

x

In [ ]:
x = 0
for i in range(3):
    x = x + i
    print(i)

x

In [ ]:
def some_thing(number1, number2):
    first_value = number1 + 8
    second_value = number2 - 5
    return first_value

some_thing(13, 10)

In [ ]:
def some_thing(number1, number2):
    first_value = number1 + 8
    second_value = number2 - 5
    temp_value = other_thing(second_value)
    return temp_value

def other_thing(another_value):
    return (another_value + 5) * 3

some_thing(13, 10)
print(second_value)

In [ ]:
def surprising_function(value):
    thing = 0
    for counter in range(value+1):
        thing = thing + counter
    return thing

print(surprising_function(5))

In [ ]:
def a(num):
    num=num+1

a(5)

In [ ]:
def func():
    print('Hi')

In [ ]:
def func(n):
    print(n**2,end=" ")
func(4)
print(n)

In [7]:
fun=lambda x: x if x>=0 else -x 
fun(-4)

4

In [8]:
def func(c):
    if(c in 'aeiou'):
        return c
    return 'end'
func('i')

'i'

In [9]:
def fun(x,y=0,z):
    print(x-y+z)
fun(1,23)

SyntaxError: non-default argument follows default argument (1050328770.py, line 1)

In [12]:
def a():
    pass

a()
print(a())

None

In [14]:
def fun(lst):
    def func(n):
        s=0
        for i in range(0,n+1):
            s=s+lst[i]
        return s
    for i in range(len(lst)):
        print(func(i),end=' ')
fun([1,3,5])

1 4 9

In [17]:
print(map(lambda x,y: x if x<y else y,[-3,2,9,0]))
print(filter(lambda x,y: x if x<y else y,[-3,2,9,0]))

<map object at 0x000001BB8505A290>
<filter object at 0x000001BB85058D00>

In [18]:
print(reduce(lambda x,y: x if x<y else y,[-3,2,9,0]))

NameError: name 'reduce' is not defined

In [19]:
def say_hello(title, name):
    print("Hello", title, name)

say_hello(1, "Miller")

Hello 1 Miller