In [19]:
"""
Pandas Series
"""

'\nPandas Series\n'

In [3]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
import pandas as pd

a=pd.Series([1,2,3])
a

0    1
1    2
2    3
dtype: int64

In [5]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

a=pd.Series([1,2,3])
b=a.tolist()
b

[1, 2, 3]

In [13]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 9])

print(a.add(b))
#print(a+b)
print(a.sub(b))
print(a.multiply(b))
print(a.divide(b))

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [14]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.
#Sample Series: 
#Original dictionary:
#{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

#Converted series:
#a    100
#b    200
#c    300
#d    400
#e    800
#dtype: int64 

dict={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a=pd.Series(dict)
a

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [15]:
#11. Write a Pandas program to sort a given Series.
#Sample Output:
#Original Data Series:
#0       100
#1       200
#2    python
#3    300.12
#4       400
#dtype: object
#0       100
#1       200
#3    300.12
#4       400
#2    python
#dtype: object

a = pd.Series(['100', '200', 'python', '300.12', '400'])
print(a)
print(pd.Series(a).sort_values())

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [17]:
#12. Write a Pandas program to add some data to an existing Series.
#Sample Output: 
#Original Data Series:
#0       100
#1       200
#2    python
#3    300.12
#4       400
#dtype: object

#Data Series after adding some data:
#0       100
#1       200
#2    python
#3    300.12
#4       400
#5       500
#6       php
#dtype: object

a = pd.Series(['100', '200', 'python', '300.12', '400'])
print(a)
a = pd.concat([a, pd.Series([500, "php"])], ignore_index=True)
print(a)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [21]:
"""
Pandas DataFrame
"""

'\nPandas DataFrame\n'

In [22]:
#1.Write a Pandas program to create a dataframe from a dictionary and display it.
#Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
#Expected Output:
#    X   Y   Z                                                         
#0  78  84  86                                                        
#1  85  94  97                                                         
#2  96  89  96                                                      
#3  80  83  72                                                         
#4  86  86  83 

dict={'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
a=pd.DataFrame(dict)
a

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [24]:
#2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#Expected Output:
#   attempts       name qualify  score                              
#a         1  Anastasia     yes   12.5                                 
#b         3       Dima      no    9.0                                 
#....                              
#i         2      Kevin      no    8.0                                
#j         1      Jonas     yes   19.0
import numpy as np

dict={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

a=pd.DataFrame(dict, index=labels)
a

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes